@import './base.scss';
@import './colors.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './variables.scss';

$formMargin: 30px;

* {
    box-sizing: border-box
}

html, body{
    margin: 0;
    padding: 0;
    background: $bgClr;
    @include montserrat_regular;
    font-size: 14px;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    margin: 12px;
    @include flexCenter;
}
.header-wrapper{
    width: 100%;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.logo-container{
    background: url('../assets/logo.jpg') no-repeat;
    /* width: 92px;
    height: 46px; */
    width: 160px;
    height: 125px;
    display: block;
}
.menu-container{
    @include flexCenter;
    align-items: flex-start;
    .menu-link{
        text-decoration: none;
        color: inherit
    }
}
.login-content{
    width: 50%;
    @include md{ width: 100%};
}
.create-strategy{
    padding: 15px;
    width: 75%;
    max-width: 600px;
    @include md{
        width: 100%;
        max-width: unset;
    };
}
.checkbox-container {
    margin-bottom: $formMargin;
    margin-left: -9px;
}
.contraint-value{
    padding-left: 10px;
    padding-right: 10px;
}

.summary-container{
    padding: 12px;
    width: 100%;
    line-height: 34px;
    /* @include md{ width: 100%}; */
}
.summary-item{
    padding: 12px 24px;

    &.add-summary{
        height: 556px;
        @include flexCenter;
        flex-direction: column;
        text-decoration: none;
        color: #777;
        background-color: #eee;
    }
}
.add-summary-container{
    font-weight: 700;
    font-size: 37px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}
.main-wrapper {
    .checkbox-label {
        display: flex;
        align-items: center;
        line-height: 21px;
    }
    .delete-container{
        cursor: pointer;
        @include flexCenter;
        margin-bottom: $formMargin;
        border: 1px solid rgba(0, 0, 0, 0.26);
        border-radius: 4px;
    }
    .form-control {
        margin-bottom: $formMargin;
        width: 100%;
    }
    .summary-header{
        font-weight: 500;
        background-color: #efefef;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
    }
}

.not-found{
    width: 100%;
    height: 550px;
    background: url('../assets/404-Error.png') no-repeat center;
}

.result-container{
    max-width: 300px;
    padding: 10px;
    margin: 10px auto;
}
.button-container{
    @include flexCenter;
    justify-content: space-evenly;
}
.image-container{
    @include flexCenter;
    padding: 15px;
    height: 250px;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    @include md{ width: 100%};
    img{
        max-width: 100%;
        max-height: 100%;
        /* @include md{ width: 100%; } */
    }
    .upload-container{
        @include flexCenter;
        width: 100%;
        height: 100%;
    }
}
